@charset "utf-8";
body {
	margin: 4px;
	padding: 0px;
}

* {
	outline-color: transparent;
}

#kapsayici {
	width: 100%;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

#suggest {
	width: 200px;
	display: none;
	position: absolute;
}

table {
	width: 100%;
	font-weight: bold;
}

table tr:nth-child(even) {
	background-color: #fcfcfc;

}
table tr:nth-child(odd) {
	background-color: #f0f0f0;
}
#genel tr {
	height: 25px;
}
#genel td:nth-child(even) {
	text-align: left;
}
#genel td:nth-child(odd) {
	text-align: left;
}
#nobet {
	text-align: left;
}
#nobet_tablosu td {
	text-align: center;
}
#ders_prog {
	text-align: left;
}
#ders_prog_kapsayici {
	width: 90%;
	float:right;
}

#siniflar_listbox {
	display: none;
}
#siniflar_listbox_kapsayici {
	width: 10%;
	float:left;
}
#ders_prog ol, #nobet ol {
	padding: 0px 0px 0px 20px;
	margin: 5px 0px 5px 0px;
}

#ders_saatleri fieldset {
	width: 70px;
	display: inline;
	padding: 3px;
	text-align: center;
}

input[type="time"] {
	font-size: 11px;
	border: 1px solid #aaa;
}

input[type="range"] {
	width: 400px;
	background-color: #ccc;
}

input[type="text"] {
	width: 96%;
	font-size: 1em;
	border: 1px solid #aaa;
}

select {
	width: 98%;
	font-size: 1em;
	border: 1px solid #aaa;
}

textarea {
	width: 98%;
	height: 80px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #aaa;
}

#kaydet {
	width: 100px;
	height: 30px;
	font-size: 1.5em;
	font-weight: bold;
}

button {
	font-size: 1.2em;
	font-weight: bold;
}

#ozelmodulbaslik {
	font-size: 20px;
	width: 300px;
	text-align: center;
}

#ozelmodulhtml {
	width: 400px;
	height: 300px;
	background-color: #fff !important;

}

#footer {
	font-size: 10px;
}

#preloader
{
	height:100%;
	width:100%;
	position:fixed;
	left:0px;
	top:0px;
	z-index:10 !important;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/loading.gif');
}

